@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/Inter-Text.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/Inter-TextItalic.woff2') format('woff2');
}
